 .modal-box .modal .modal-dialog .modal-content .model-body{

    border-radius: 25px;
    
 }
 .modal-open {
padding: 0 !important; 
}

 .modal .modal-dialog .modal-content .model-body .title{
 color: #fff;
 background: linear-gradient(to right, #33a3ff, #0675cf, #49a6fd);
 font-size: 18px;
 font-weight: 600;
 text-transform: capitalize;
 padding: 10px 15px;
 margin: 200px auto 0;
 border: none;
 outline: none;
 box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
 display: block;
 transition: all 0.3s ease 0s;
 }

 .form-group.checkbox{
    width: 130px;
    margin-top: 0;
    display: inline-block;
}
.form-group.checkbox label{
    color: #9A9EA9;
    font-weight: normal;
}
.form-group.checkbox input[type=checkbox]{
    margin-left: 0;
}
.modal-body .forgot-pass{
    color: #7F7FD5;
    font-size: 13px;
    text-align: right;
    width: calc(100% - 135px);
    margin: 2px 0;
    display: inline-block;
    vertical-align: top;
    transition: all 0.3s ease 0s;
}
.forgot-pass:hover{
    color: #9A9EA9;
    text-decoration: underline;
}